<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div style="background:#eee; font-size:200%; padding:30px">
        Logo
    </div>
    <div>
        @RenderBody()
    </div>
    <div style="background:#eee; padding:30px">
        Copyright: www.flenov.info
    </div>
</body>
</html>
