@model MyWebSite.ViewModel.Person

<h1>Hello</h1>
<p>First Name: @Model.FirstName</p>
<p>Last Name: @Model.LastName</p>
<p>Age: @Model.Age</p>


@{
    int i = 10;
    @: This is a string @i
}
